<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="views/style.css">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.css">
    <script type="text/javascript" src="vendors/jquery.js"></script>
    <script type="text/javascript" src="scripts/client.js"></script>
    <title>RealFinder</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>RealFinder</h1>
        <h2>Find your dream home!</h2>
      </div>
      <div class=addListing>
        <h2>List your property:</h2>
        <form class="newListing">
          <input type="text" name="city" placeholder="City" value="">
          <input type="text" name="price" placeholder="Price" value="">
          <select class="" name="type">
            <option value="apartment">Apartment</option>
            <option value="house">House</option>
          </select>
          <input type="submit">
        </form>
    </div>
      <div class="listings">
        <div class="apartments">
          <h2>For rent:</h2>
        </div>
        <div class="houses">
          <h2>For sale:</h2>
      </div>
    </div>
  <script type="text/javascript" src="vendors/bootstrap/bootstrap.js"></script>
  </body>
</html>
